name: CI Churrascaria

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Preparar Python
      uses: actions/setup-python@v3
      with:
        python-version: "3.9"

    - name: Instalar Dependências
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pylint

    - name: Testar Qualidade do Código
      run: |
        pylint --disable=C,R,W app.py